:root {
    --light: #f29544;
    --light-hover: #dc883e;
    --medium: #a67665;
    --medium-dark: #733a2d;
    --dark:  #59332a;
    --really-dark: #261f1d;
  }
footer {
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background:var(--light-hover);
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-content .logo {
    height: 250px;
}

.footer-ul-container {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.category {
    width: 150%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;
    margin-right: 10px;
    margin-left:5px;
}

.category-title {
    grid-column: span 2;
    text-transform: capitalize;
    color: var(--medium-dark);
    font-size: 20px;
    margin-bottom: 15px;
}

.category .footer-link {
    text-decoration: none;
    text-transform: capitalize;
    color:var(--dark);
    font-size: 13px;
}

.footer-link:hover {
    color:var(--really-dark);
}

.footer-title,
.info {
    color:var(--dark);
    margin: 20px 0;
    text-transform: capitalize;
}

.footer-title {
    margin-top: 60px;
}

.footer-social-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.social-link {
    color: var(--really-dark);
    margin-left: 20px;
    text-transform: capitalize;
    text-decoration: none;
}
.social-linl:hover{
    background-color: #dc883e;
}

.social-link:nth-child(1) {
    margin-left: 0;
}

.footer-credit {
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}
.footer-credit a{
    color:var(--really-dark)
}