:root {
    --light: #f29544;
    --light-hover: #dc883e;
    --medium: #a67665;
    --medium-dark: #733a2d;
    --dark:  #59332a;
    --really-dark: #261f1d;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    top: 0;
    left: 0;
    width: 100;
    background-color: var(--light);
    z-index: 9;
}

.nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    align-items: center;
}
.brand-logo{
    height: 100px;
    width: 150px;
}


.search {
    width: 500px;
    display: flex;
}

.search-box {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: white;
    color: #a9a9a9;
    outline: none;
}

.search-btn {
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder {
    color: #a9a9a9;
}

.nav-items a {
    margin-left: 20px;
}

.nav-items a img {
    width: 30px;
}
.link-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid var(--medium-dark);
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: black ;
    opacity: 0.9;
    transition: .5s;
}

.link:hover{
    opacity: 1;
    background-color: var(--light-hover);
}