.search-results{
    width: 100%;
    padding: 60px 0;
}
.heading{
    font-size: 20px;
    text-transform: capitalize;
    font-weight:300;
    margin-bottom: 40px;
    padding: 0 10vw;
}
.heading span{
    font-weight: 600;
}

.product-container{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    height:auto;
    grid-row-gap: 40px;
}