@import 'nav.css';
@import 'footer.css';
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');


:root {
    --light: #f29544;
    --medium: #a67665;
    --medium-dark: #733a2d;
    --dark: #59332a;
    --really-dark: #261f1d;
}



.hero-section {
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../img/Logos/logo-header.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .logo {
    height: 150px;
    display: none;
    margin: auto;
}

.hero-section .sub-heading {
    color: white;
    font-size: 40px;
    font-family: 'Archivo Black', sans-serif;
}

.food-hero-section {
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../img/Logos/food-logo.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-hero-section .logo {
    height: 150px;
    display: none;
    margin: auto;
}

.food-hero-section .sub-heading {
    color: white;
    font-size: 45px;
    top: 30vw;
}

.product {
    color:var(--light);
    padding-top: 5px;
    background-color: var(--medium-dark);
    margin-top: 30px;
}

.product h2 {
    padding: 3px;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 500px;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.best-seller {
    text-align: center;
    text-transform: capitalize;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
    position:relative ;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #efefef;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    text-transform: uppercase;
    font-family: 'Crete Round', serif;
}

.product-short-des {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.85;
    text-transform: capitalize;
    margin: 5px 0;
    color: black;
}

.price {
    font-weight: 900;
    font-size: 20px;
    font-family: 'Crete Round', serif;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 50%;
    position: absolute;
    top: 107vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

.two-pre,
.two-nxt {
    border: none;
    width: 10vw;
    height: 50%;
    position: absolute;
    top: 170vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.two-pre {
    left: 0;
    transform: rotate(180deg);
}

.two-nxt {
    right: 0;
}

.two-pre img,
.two-nxt img {
    opacity: 0.2;
}

.two-pre:hover img,
.two-nxt:hover img {
    opacity: 1;
}

.sell {
    text-align: center;
}

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-color: var(--medium)
}

.collection {
    position: relative;
}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--medium-dark);
    padding:5px;
    background-color:var(--light);
    font-size: 50px;
    text-transform: uppercase;
}

.collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
}

#product-page .product-card {
    width: 33%;
}
hr{
    height: 8px;
    background-color:var(--light);
    border: none;
    margin:0;
    padding-bottom:0;
}
.footer-collection {
    height:8px;
    background-color: var(--medium);

}




