@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Ubuntu:wght@300&display=swap');

:root {
    --light: #f29544;
    --light-hover: #dc883e;
    --medium: #a67665;
    --medium-dark: #733a2d;
    --dark: #59332a;
    --really-dark: #261f1d;
}

/* Global Styles */
a:hover {
    color: var(--really-dark);
    background-color: var(--light-hover);
}

.logo {
  height: 80px;
  display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  width: 300px;
  height: 40px;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  border: none;
  outline: none;
  margin: 20px 0;
  text-transform: capitalize;
  color: #383838;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
  font-family: 'Archivo Black', sans-serif;

}

::placeholder {
  color: #383838;
}


input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid var(--dark);
  margin-bottom: 25px;
}

.srh-btn {
  height: 50px;
  width: 65px;
  background-color: darkslategray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
	border-radius: 5px;

}
.srh-btn img{
	align-content: center;
}
.srh-btn:hover {
    opacity: 1;
}

.tab-link {
  height: 25px;
  width: 45px;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  font-family: 'Crete Round';
}

.tab-link:hover {
  background-color: #a76832;
}

.signupbtn {
  background-color: var(--light);
  width: 300px;
  height: 40px;
  opacity: 1;
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
  height: 400px;
}

label {
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #383838;
}

label a {
  color: #383838;
}

.link {
  color: #383838;
  text-transform: capitalize;
  text-align: left;
  display: inline;
  max-width: 25px;

}

.link:hover {
  background-color: var(--light-hover);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  overflow: auto;
  background-color: transparent;
  padding-top: 50px;
}

.modal-content {
  background-color: rgb(212, 201, 185);
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.signup-form {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

hr .signup-form {
  color: var(--dark);
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.user {
  width: 50px;
  height: 50px;
  background-color: none;
}

@media screen and (max-width: 300px) {

  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}


.search {
  width: 500px;
  display: flex;
}

.search-box {
  width: 90vw;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d1d1d1;
  text-transform: capitalize;
  background: white;
  color: #a9a9a9;
  outline: none;
}

.search-btn {
  width: 20%;
  margin-top: 2.2vh;
  height: 40px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #383838;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-box::placeholder {
  color: #a9a9a9;
}

.nav-items {
  display: inline;
  float: inline-end;
}


.link-container {
  width: 100%;
  display: flex;
  padding: 10px 10vw;
  justify-content: center;
  list-style: none;
  background-color: var(--light-hover);
  border-top: 1px solid var(--medium-dark);
}

.link-item {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  opacity: 0.9;
  transition: .5s;
  font-family: 'Ubuntu';
}

.link-item:hover {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: black;
  opacity: 0.9;
  transition: .5s;
}

.link {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: black;
  opacity: 0.9;
  transition: .5s;
  position: inline;
}

.link:hover {
  opacity: 1;
  text-decoration: underline;
}


.navbar {
  top: 0;
  left: 0;
  width: 99vw;
  background-color: var(--light);
  z-index: 9;
  font-family: 'Crete Round', sans-serif;
}

.nav {
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
}


.brand-logo {
  width: 160px;
  height: 154px;
  margin: 0;
  padding: 0;
}


/* Main content of the site */
#content {
    clear: both;
    overflow: auto;
    padding-top: 29px;
}

/* Sidebar */
#content .sidebar {
    font-family: 'Montserrat', sans-serif;
    color: rgba(146, 146, 146, 1.00);
    float: left;
    width: 20%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    background-color: rgba(246, 246, 246, 1.00);
    padding-top: 36px;
    height: 784px;
}

/* main content of the site */
#content .mainContent {
    float: left;
    width: 70%;
    text-align: center;
    padding-left: 4%;
}

/*menubar's properties for menus in sidebar */
#content .sidebar #menubar {
    text-align: left;
    color: rgba(146, 146, 146, 1.00);
    position: relative;
    left: 0%;
}

/* Search field in sidebar */
#content .sidebar #search {
    width: 100%;
    border-radius: 0px;
    height: 42px;
    text-align: center;
    color: rgba(208, 207, 207, 1.00);
    font-size: 14px;
    ;
    margin-bottom: 21px;
}

/* Whole page content */
#mainWrapper {
    width: 80%;
    padding-left: 10%;
}

/*menu elements */
.menu ul li {
    list-style-type: none;
    font-size: x-large;
    position: relative;
    left: -35px;
    padding-top: 12px;
}

/* Product rows for catalog */
#content .mainContent .productRow {
    overflow: auto;
    color: rgba(146, 146, 146, 1.00);
}

/* Each product Information in the catalog */
.mainContent .productRow .productInfo {
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    width: 22%;
}

/* Prices of a products in catalog */
.productRow .productInfo .price {
    font-family: 'Montserrat', sans-serif;
    color: rgba(146, 146, 146, 1.00);
    font-size: 22px;
    position: relative;
    top: -20px;
}

/* Content holder for products in catalog*/
.productRow .productInfo .productContent {
    position: relative;
    top: -37px;
    font-size: 14px;
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: rgba(146, 146, 146, 1.00);
    white-space: pre-wrap;
}

/* Buy button for products in catalog */
.productRow .productInfo .buyButton {
    position: relative;
    top: -48px;
    width: 84%;
    background-color: rgba(208, 207, 207, 1.00);
    height: 35px;
    color: rgba(255, 255, 255, 1.00);
    border-style: none;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 8px;
}

/* footer */
 footer {
	clear: both;
	overflow: auto;
	background-color: rgba(242,149,68,1.00);
	font-family: 'source-sans-pro', sans-serif;
	font-style: normal;
	font-weight: 200;
	line-height: 1.8;
	padding-top: 22px;
	padding-left: 22px;
	text-align: center;
	padding-bottom: 22px;
	padding-right: 22px;
}

/*Each footer content */
 footer div {
    width: 27%;
    float: left;
    padding-left: 4%;
    padding-right: 2%;
    color: rgba(255, 255, 255, 1.00);
    text-align: justify;
}

/* Links in footer */
 div a {
    color: rgba(146, 146, 146, 1.00);
    display: block;
    text-decoration: none;
    text-align: center;
}

/* Product's images in catalog */
.productInfo div img {
    width: 100%;
    background-color: var(--light);
}

/*Links in sidebar */
.sidebar #menubar .menu ul li a {
    color: rgba(146, 146, 146, 1.00);
    text-decoration: none;
}

.sidebar #menubar .menu ul li a:hover {
    color: rgba(107, 97, 97, 1.00);
    text-decoration: none;
}

/* Menu headings in sidebar */
#menubar .menu h2 {
    font-size: 14px;
}

/*Links under menus in sidebar */
#menubar .menu ul li a {
    font-size: 14px;
}

/* Menus in sidebar */
.sidebar #menubar .menu {
    margin-bottom: 29px;
}

/* Container for links in footer */
footer .footerlinks {
    margin-top: -15px;
    width: 80px;
    float: right;
}

/* Media query for tablets */
@media screen and (max-width:700px) {

    /* search field in sidebar */
    #content .sidebar #search {
        display: none;
    }

    /* sidebar */
    #content .sidebar {
        float: none;
        width: 100%;
        height: auto;
        overflow: auto;
        padding-left: 12%;
        padding-top: 0px;
    }

    /* horizontal separators in sidebar */
    #content .sidebar hr {
        display: none;
    }

    /*The sidebar and maincontent of page */
    #content {
        position: relative;
        top: -22px;
        width: 100%;
        overflow: hidden;
    }

    /*menu headings in sidebar */
    #menubar .menu h2 {
        display: inline;
        font-size: medium;
        padding-right: 6%;
    }

    /* Unordered List of links */
    #menubar .menu ul {
        display: inline;
    }

    /*list elements */
    #menubar .menu ul li {
        display: inline;
        font-size: medium;
        padding-left: 0%;
        padding-right: 3%;
    }

    /*The link to be hidden in tablet view */
    .sidebar #menubar .menu ul .notimp {
        display: none;
    }

    /* menus in sidebar */
    .sidebar #menubar .menu {
        width: 100%;
        text-align: center;
        position: relative;
        top: 16px;
    }

    /*menubar in sidebar */
    #content .sidebar #menubar {
        position: relative;
        left: -7%;
        overflow: hidden;
        width: 95%;
        padding-top: 0px;
    }

    /* offer banners content */
    #mainWrapper #offer p {
        font-size: small;
    }

    /* main content region of page */
    #mainWrapper #content .mainContent {
        overflow: hidden;
        width: 95%;
        margin-top: 40px;
    }

    /* Prices of products in catalog view */
    .productRow .productInfo .price {
        font-size: 19px;
    }

    /* Content holders in catalog view */
    .productRow .productInfo .productContent {
        font-size: 16px;
    }

    /* Buy buttons in catalog view */
    .productRow .productInfo .buyButton {
        font-size: 15px;
    }

    /* Container for links in footer */
    #mainWrapper footer .footerlinks {
        float: none;
        width: 100%;
        position: relative;
        top: 17px;
        clear: both;
        text-align: center;
        left: 0%;
        padding-bottom: 19px;
    }

    /* Container for each footer divisions */
footer div {
        width: 44%;
        text-align: justify;
        font-size: 15px;
    }

    /* Links in footer */
    .footerlinks p a {
        padding-top: 0px;
        padding-bottom: 0px;
        display: inline;
        padding-right: 35px;
    }

    /* Footer region */
 footer {
        padding-left: 16px;
        overflow: hidden;
    }

    /* Paragraphs in footer */
    footer .footerlinks p {
        display: inline;
    }
}

/*media query for small screen devices */
@media screen and (max-width:480px) {

    /*Container for links in header */
    #mainWrapper header #headerLinks {
        width: 100%;
        text-align: center;
        background-color: rgba(190, 190, 190, 1.00);
        padding-bottom: 21px;
    }

    /* Logo placeholder*/
    #mainWrapper header #logo {
        width: 100%;
        text-align: center;
    }

.header a {
	color: white;
	padding-left: 66px;
	padding-right: 66px;
	font-size: 14px;
	text-decoration: none;
	float: left;
    width: 20px;
    text-align: center;
    padding-bottom: 10px;
}


    #content .sidebar #menubar {
        position: relative;
        left: -8%;
        text-align: center;
    }
	.footer{
		background-color:rgb(242, 149, 68);
	}
    /*Menu headings in sidebar */
    #menubar .menu h2 {
        width: 100%;
        display: block;
    }

    /* Each product in catalog view */
    .mainContent .productRow .productInfo {
        width: 100%;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        left: -2%;
    }

 footer div {
        width: 100%;
        margin-left: -16px;
        text-align: justify;
        padding-bottom: 16px;
        overflow: auto;
    }

    /* Unordered list for menu elements */
    .menu ul {
        position: relative;
        padding-left: 24%;
    }

    /* Container for links in footer */
footer .footerlinks {
        padding-left: 8%;
    }

 
 #content .mainContent {
        margin-top: -81px;
        text-align: center;
        width: 100%;
        padding-left: 0px;
    }
}

.searchbar {
    margin-left: 15%;
    padding: 15px;
    border-radius: 8px;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
	   change its width to 100% */
input[type=text]:focus {
    width: 70%;
}

.list {
    font-size: .9em;
    display: none;
}

.coffee .tea .food {
    display: none;
    list-style: none;
}
